body {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #F2f2f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, FontAwesome, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
